/.vs/Black Hole Simulation.slnx
/Black Ho.faba38f3/x64/Debug
/x64/Debug
*.slnx
*.vcxproj
*.filters
*.user
/.vs/Black Hole Simulation/CopilotIndices/18.5.39162.45114
/Black Ho.faba38f3/x64/Release
/x64/Release
